body {
  margin: 0;
  padding: 0;
}

.qr-container {
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

.qr-image {
  width: 130px;
  height: 130px;
}

.qr-dbl {
  width: 100%;
  height: 100%;
}
